body {
  background-color: #fafbfc;
}

body, #app, #app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

// https://github.com/buefy/buefy/issues/3675#issuecomment-1053405523
.icon svg {
  width: 1em;
  height: 1em;
  max-width: 80%;
  max-height: 80%;
}

.dropdown.is-fullwidth {
  &, .dropdown-trigger {
    width: 100%;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1.title, h2.title, h3.title {
  font-family: Quicksand, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 100;
}

.dialog .modal-card .modal-card-foot {
  background: #FFF;
}
